@import "tailwindcss";

@theme {
  --font-headline: var(--font-headlineFont);
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-medium uppercase;
    font-family: var(--font-headline);
  }

  p {
    @apply mb-4;
  }
}

@utility button {
  @apply px-6 py-4 uppercase border rounded hover:opacity-70 hover:transition-all hover:duration-300;
}

@utility banner-headline {
  @apply text-4xl font-semibold leading-none text-center md:text-5xl lg:text-6xl;
}

@utility section {
  @apply max-w-3xl py-8 mx-auto;
}
